.p-0 {
    padding: .5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3rem;
}

.px-0 {
    padding: 0 .5rem;
}

.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 1.5rem;
}

.px-3 {
    padding: 0 2rem;
}

.px-4 {
    padding: 0 2.5rem;
}

.px-5 {
    padding: 0 3rem;
}

.py-0 {
    padding: .5rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 2.5rem 0;
}

.py-5 {
    padding: 3rem 0;
}